/* Estilos para el contenedor */
.item-workspace {
  border: 1px solid #000; /* Cambia el color según tus necesidades */
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta según tus necesidades */
}

/* Estilos para el contenedor interno con disposición flex y elementos justificados entre sí */
.item-workspace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el título con cursor-pointer */
.item-workspace-title {
  font-size: 1.5rem; /* Ajusta según tus necesidades */
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para el botón de eliminar */
.item-delete-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #ff0000; /* Cambia el color según tus necesidades */
  padding-inline: 0.5rem;
  cursor: pointer;

  text-transform: uppercase;
}

/* Estilos para la línea horizontal */
.item-hr-divider {
  margin: 0.5rem 0; /* Ajusta el espacio según tus necesidades */
}

/* Estilos para el párrafo */
.item-workspace-description {
  font-size: 1rem; /* Ajusta según tus necesidades */
  color: #333; /* Cambia el color según tus necesidades */
}
